# Coding practice \#2: Due midnight, October 15

files needed = ('banks_and_branches.csv', 'GDPCA.csv')

Answer the questions below in a jupyter notebook. You can simply add cells to this notebook and enter your answers. When you are finished, upload the completed notebook to canvas. 

A reminder: My office hours are Tuesdays 10:45AM-11:45AM and Wednesdays 5:00PM-5:30PM in Soc Sci 7444. I am also available by email and zoom.

*You should feel free to discuss the coding practice with your classmates, but the work you turn in should be your own.*

## Exercise 0: Yuan, Meng
Replace 'Last, First' above with your actual name. Enter it as: last name, first name.

## Exercise 1: Subsets
Let's practice pulling subsets out of a data frame. We subset a lot. Our goal is to build some muscle memory, so that every time we need to subset the data, we do not need to go look up how to do it. 

To this end, first try the exercises below without consulting your notes or the internet. Sort out where you need to improve and keep practicing! 

A. Create a DataFrame from the following dict. 
```python
data_dict = {'soda':['coke', 'diet coke', 'sprite', 'pepsi', 'mug', 'mt. dew'],
            'cals':[140, 1, 90, 150, 130, 170],
            'sodium':[45, 40, 65, 30, 65, 60],
            'corp': ['coca cola', 'coca cola', 'coca cola', 'pepsico', 'pepsico', 'pepsico']}
```

In [1]:
 # exercise 1
    # A
import pandas as pd
data_dict = {'soda':['coke', 'diet coke', 'sprite', 'pepsi', 'mug', 'mt. dew'],
            'cals':[140, 1, 90, 150, 130, 170],
            'sodium':[45, 40, 65, 30, 65, 60],
            'corp': ['coca cola', 'coca cola', 'coca cola', 'pepsico', 'pepsico', 'pepsico']}
data_soda = pd.DataFrame(data_dict)
data_soda

        soda  cals  sodium       corp
0       coke   140      45  coca cola
1  diet coke     1      40  coca cola
2     sprite    90      65  coca cola
3      pepsi   150      30    pepsico
4        mug   130      65    pepsico
5    mt. dew   170      60    pepsico

B. Print a DataFrame containing only sodas with more than 10 calories.

In [2]:
    # B
data_soda[data_soda.cals >10]

      soda  cals  sodium       corp
0     coke   140      45  coca cola
2   sprite    90      65  coca cola
3    pepsi   150      30    pepsico
4      mug   130      65    pepsico
5  mt. dew   170      60    pepsico

C. Print a DataFrame containing only sodas with more than 10 calories and less than 100 calories.

In [3]:
    # C
data_soda.loc[(data_soda.cals >10) & (data_soda.cals <100)]

     soda  cals  sodium       corp
2  sprite    90      65  coca cola

D. Print a DataFrame containing only data for coke, pepsi, and mug. Use the `.isin()` method.

In [4]:
    # D
data_soda[data_soda.soda.isin(['coke','pepsi','mug'])]

    soda  cals  sodium       corp
0   coke   140      45  coca cola
3  pepsi   150      30    pepsico
4    mug   130      65    pepsico

E. Set the index of the DataFrame to 'soda'.

In [5]:
    # E
data_soda.set_index('soda', inplace=True)
data_soda

           cals  sodium       corp
soda
coke        140      45  coca cola
diet coke     1      40  coca cola
sprite       90      65  coca cola
pepsi       150      30    pepsico
mug         130      65    pepsico
mt. dew     170      60    pepsico

F. Use `.loc[]` to print a DataFrame containing only coke, pepsi, and mug.

In [6]:
    # F
data_soda.loc[['coke','pepsi','mug']]

       cals  sodium       corp
soda
coke    140      45  coca cola
pepsi   150      30    pepsico
mug     130      65    pepsico

G. Print out the average sodium for pepsico products that have more than 135 calories.

In [7]:
    # G
data_soda.loc[(data_soda.corp== 'pepsico') & (data_soda.cals > 135) , 'sodium'].mean()

45.0

H. Print out the number of pepsico products with sodium above 60 mg.

In [8]:
    # H
data_soda.loc[(data_soda.corp== 'pepsico') & (data_soda.sodium >60), 'sodium'].count()

1

I. Print out the calories in a coke.

In [9]:
    # I
data_soda.loc['coke','cals']

140

## Exercise 2: Importing data

The file 'banks_and_branches.csv' (on the course website for download) contains data on the number of commercial banking institutions, branches, and offices in the United States at the end of each year between 1934 and 2017. 

\[The data are from Table CB01, which is maintained by the Federal Deposit Insurance Corporation (FDIC).  FDIC data can be downloaded from https://www.fdic.gov/open/datatools.html. You are encouraged to browse around their website to see what's there &mdash; this might be a useful source for your final project.\]

Your task is to import this data into Python and get it into good shape. 

### Part (a):
Import the data from 'banks_and_branches.csv' into a pandas data frame called `banking_data`. If you open the .csv file in Excel or a similar program, you'll notice that there are notes in several of the cells at the beginning of the file. Rather than delete these manually, you should use the `header` option in `pandas.read_csv` to use the correct row for the column names.

In [10]:
# Exercise 2 : Importing data

# Part(a)

banking_data = pd.read_csv('banks_and_branches.csv', header = 6) 
banking_data

    Year Institutions Branches Offices
0   2017        4,918   79,163  84,081
1   2016        5,112   80,089  85,201
2   2015        5,340   81,541  86,881
3   2014        5,607   81,990  87,597
4   2013        5,847   82,735  88,582
..   ...          ...      ...     ...
79  1938       13,661    3,412  17,073
80  1937       13,797    3,381  17,178
81  1936       13,973    3,261  17,234
82  1935       14,125    3,112  17,237
83  1934       14,146        0  14,146

[84 rows x 4 columns]

### Part (b):
1. Convert each of the column names to lower case using a list comprehension.
2. We don't need the 'branches' column&mdash;you might notice that the variable 'offices' is equal to 'institutions' plus 'branches'. Delete the 'branches' column.  
3. Rename the 'institutions' column 'banks'.
4. Print the data types of each column.

In [11]:
#Part(b)

    #1
banking_data.columns = [col_name.lower() for col_name in banking_data.columns]
banking_data.columns = banking_data.columns.str.lower()
banking_data

    year institutions branches offices
0   2017        4,918   79,163  84,081
1   2016        5,112   80,089  85,201
2   2015        5,340   81,541  86,881
3   2014        5,607   81,990  87,597
4   2013        5,847   82,735  88,582
..   ...          ...      ...     ...
79  1938       13,661    3,412  17,073
80  1937       13,797    3,381  17,178
81  1936       13,973    3,261  17,234
82  1935       14,125    3,112  17,237
83  1934       14,146        0  14,146

[84 rows x 4 columns]

In [12]:
    #2
banking_data = banking_data.drop('branches', axis = 1)
banking_data

    year institutions offices
0   2017        4,918  84,081
1   2016        5,112  85,201
2   2015        5,340  86,881
3   2014        5,607  87,597
4   2013        5,847  88,582
..   ...          ...     ...
79  1938       13,661  17,073
80  1937       13,797  17,178
81  1936       13,973  17,234
82  1935       14,125  17,237
83  1934       14,146  14,146

[84 rows x 3 columns]

In [13]:
    #3
banking_data.rename(columns={'institutions':'banks'}, inplace=True)
banking_data

    year   banks offices
0   2017   4,918  84,081
1   2016   5,112  85,201
2   2015   5,340  86,881
3   2014   5,607  87,597
4   2013   5,847  88,582
..   ...     ...     ...
79  1938  13,661  17,073
80  1937  13,797  17,178
81  1936  13,973  17,234
82  1935  14,125  17,237
83  1934  14,146  14,146

[84 rows x 3 columns]

In [14]:
    #4 
print(banking_data.dtypes)

year        int64
banks      object
offices    object
dtype: object

### Part (c):

You'll notice that some of the columns are listed as objects and not integers. 

1. Convert these columns to integers. Note that you'll need to remove the thousands separator (',') from each number first. \[Have a look at pandas' `str.replace()` method and the `.astype()` method.\] Print the data types of each column to confirm that they are all integers.

2. Create a variable containing the average number of offices per institution in each year. Add a new column called 'offices_per_bank' to `banking_data` with this information.

3. Save your DataFrame to a CSV file named 'banking_data.csv'. We will use this file for coding practice \#3.

In [15]:
#Part(c)
    #1 
banking_data = banking_data.replace(',','', regex= True)
banking_data = banking_data.astype(int)

# banking_data['banks'] = banking_data['banks'].str.replace(',','')
# banking_data['offices'] = banking_data['offices'].str.replace(',','')
print(banking_data.dtypes)

year       int32
banks      int32
offices    int32
dtype: object

In [16]:
    #2
banking_data['offices_per_bank'] = banking_data['offices'] / banking_data['banks']
banking_data

    year  banks  offices  offices_per_bank
0   2017   4918    84081         17.096584
1   2016   5112    85201         16.666862
2   2015   5340    86881         16.269850
3   2014   5607    87597         15.622793
4   2013   5847    88582         15.149991
..   ...    ...      ...               ...
79  1938  13661    17073          1.249762
80  1937  13797    17178          1.245053
81  1936  13973    17234          1.233379
82  1935  14125    17237          1.220319
83  1934  14146    14146          1.000000

[84 rows x 4 columns]

In [17]:
    #3 
banking_data.to_csv('banking_data.csv')

## Exercise 3
Let's work with U.S. GDP. The data come from FRED. The goal it to brush up on our data cleaning skills and compute a few summary statistics. 

### Part (a):
1. The file GDPCA.csv contains annual real GDP. Read it into a DataFrame and create a series of growth rates.

In [18]:
#Exercise 3 

#Part(a)
    #1
gdp_data = pd.read_csv('GDPCA.csv') 
gdp_data['GDPCA'] = gdp_data['GDPCA'].str.replace('.','', regex= False )
gdp_data['GDPCA'] = gdp_data['GDPCA'].astype(float)
gdp_data['GDPCA'] = gdp_data['GDPCA'] /100
gdp_data['growth_rate'] = gdp_data['GDPCA'].pct_change()*100 
gdp_data

ValueError: could not convert string to float: ''

2. Something went wrong, right? There is a gremlin in the data. Find a way to use `read_csv()` to turn the bad data into `NaN`s. Now compute the growth rates. Print the first 5 rows.

In [20]:
    #2
import numpy as np
gdp_data = pd.read_csv('GDPCA.csv', na_values = '.') 
gdp_data['GDPCA'] = gdp_data['GDPCA'].astype(float)
gdp_data['growth_rate'] = gdp_data['GDPCA'].pct_change()*100 
gdp_data.head(6)

   DATE     GDPCA  growth_rate
0  1929  1109.448          NaN
1  1930  1015.058    -8.507835
2  1931   950.037    -6.405644
3  1932   827.495   -12.898656
4  1933   817.265    -1.236261
5  1934   905.594    10.807877

### Part (b) 
1. Compute the mean gdp growth rate for 1960&ndash;1985
2. Compute the standard deviation of the gdp growth rate for 1960&ndash;1985
3. Repeat parts 1. and 2. for the period 1985&ndash;2007
4. Print out your results in a few *neatly formatted* sentences. Comment on the differences between the two periods.

In [30]:
#Part (b)
    #1  
gdp_data.set_index('DATE', inplace=True)
mean_1960 = gdp_data.loc['1960':'1985','growth_rate'].mean()
print(mean_1960)

3.618358581704165

In [31]:
    #2  
std_1960 = gdp_data.loc['1960':'1985','growth_rate'].std()
print(std_1960)

2.4658839162704664

In [32]:
    #3  
mean_1985 = gdp_data.loc['1985':'2007','growth_rate'].mean()
std_1985 = gdp_data.loc['1985':'2007','growth_rate'].std()
print(mean_1985)
print(std_1985 )

3.1710451249172285
1.2131593098462135

In [38]:
    #4  
print('for data in 1929-1985, the mean and std are ({0:.2f}, {1:.2f})  '.format(mean_1960 , std_1960))
print('for data in 1985-2007, the mean and std are ({0:.2f}, {1:.2f})  '.format(mean_1985 , std_1985))

for data in 1929-1985, the mean and std are (3.62, 2.47)
for data in 1985-2017, the mean and std are (3.17, 1.21)

The mean is smaller in the period 1985-2007 than the period 1929-1985 means the growth rate decreased average over time.
The standard deviation is smaller in the period 1985-2007 than the period 1929-1985 means the growth rate becomes more concentrated over time.

### Part (c)
1. Recompute the mean and standard deviation for 1985-2018. 
2. How have things changed?

In [34]:
#Part (c)
    #1
mean_2018 = gdp_data.loc['1985':'2018','growth_rate'].mean()
std_2018 = gdp_data.loc['1985':'2018','growth_rate'].std()
print('for data in 1985-2018, the mean and std are ({0:.2f}, {1:.2f})  '.format(mean_2018 , std_2018))

for data in 1985-2018, the mean and std are (2.67, 1.52)

    #2
The mean is smaller in the period 1985-2018 than the period 1985-2007, shows there was a decrease of gdp growth rate after 2007 on average. 
The standard diviration for period 1985-2018 is higher than the period 1985-2017 means the data become less close to the mean, less concentrated.

## Exercise 4: Cake cutting (Challenging)

Source: This exercise is a modified version of one of Google's own coding exams, used to recruit new software developers each year. 

The setup: Happy Birthday! We brought some cake to celebrate! You take one look at your cake, and see the writing on it is representable as a string, `abcabcabcabc`.

How to make everyone at your party happy: cut the cake such that everyone gets (1) the same number of letters, (2) the same sequence of letters as everyone else, and (3) you've cut your cake into the maximum number of pieces possible. So, for this cake, we can obviously split it into four pieces, each containing `abc`. Note: sequences are not interchangeable, so `bca` is not the same as `abc`.

Your task: given an arbitrary cake, find the maximum number of pieces we can cut it into, i.e. the number of friends you can share your cake with.

Here are the steps. You work out the code. 

1. Find the potential ways you can cut the cake. You cannot have fractions of letters. For example. Suppose the cake was 12 letters long `cake = 'abccbaabccba'`. You could cut it up into 1, 2, 3, 4, 6, or 12 pieces. Notice that you can divide 12 by each of these numbers and not have a remainder. Store your potential cake-piece lengths in a list named `piece_lengths`. 


2. For each potential piece length in `piece_lengths`:
   1. Cut the first piece from the cake. (Remember: you can slice a string.) Given our example, the first piece would be 'a', since the first potential piece length is 1. The second potential length is 2, so that first piece would be 'ab'.
   2. Create a string that is made up of the piece you cut repeated until it has the same length as the cake. In our example, we would repeat 'a' 12 times: `test_cake = 'aaaaaaaaaaaa'`. We would repeat 'ab' six times. `test_cake = 'abababababab'`.
   3. Compare your test cake to the cake. If they are the same, then this is a successful cutting strategy. Keep this piece length&mdash;save it to a list. If the cake and test cake are not the same, move on to the next potential piece length. In our example, 6 is the only piece length that works. In general, there may be many piece lengths that work.  


3. From your list of acceptable piece lengths, choose the shortest. Report the length of the piece and the number of pieces you can cut the cake into.    
   
   
Test your algorithm with 

```python
test_1 = 'abccbaabccba'
test_2 = 'abcabcabcabc'
test_3 = 'abcdabcdabcdabcd'
```

1. Find the potential ways you can cut the cake. You cannot have fractions of letters. For example. Suppose the cake was 12 letters long `cake = 'abccbaabccba'`. You could cut it up into 1, 2, 3, 4, 6, or 12 pieces. Notice that you can divide 12 by each of these numbers and not have a remainder. Store your potential cake-piece lengths in a list named `piece_lengths`. 


2. For each potential piece length in `piece_lengths`:
   1. Cut the first piece from the cake. (Remember: you can slice a string.) Given our example, the first piece would be 'a', since the first potential piece length is 1. The second potential length is 2, so that first piece would be 'ab'.
   2. Create a string that is made up of the piece you cut repeated until it has the same length as the cake. In our example, we would repeat 'a' 12 times: `test_cake = 'aaaaaaaaaaaa'`. We would repeat 'ab' six times. `test_cake = 'abababababab'`.
   3. Compare your test cake to the cake. If they are the same, then this is a successful cutting strategy. Keep this piece length&mdash;save it to a list. If the cake and test cake are not the same, move on to the next potential piece length. In our example, 6 is the only piece length that works. In general, there may be many piece lengths that work.  


3. From your list of acceptable piece lengths, choose the shortest. Report the length of the piece and the number of pieces you can cut the cake into.

In [45]:
#Exercise 4

In [44]:
#data base
test_1 = 'abccbaabccba'
test_2 = 'abcabcabcabc'
test_3 = 'abcdabcdabcdabcd'

cakes = [test_1, test_2, test_3]

for i in range(len(cakes)):
    cake = cakes[i]
    cake_len = len(cake)
    
    #1
    piece_lengths = []
    a = 0
    for j in range(1, cake_len+1):
        if (cake_len % j) == 0:
            piece_lengths.append(j)
        else:
            a = a 
    
    #2
    piece_word = []
    test_cake = ''
    test_list = []
    for j in range(len(piece_lengths)):
        factor_num = piece_lengths[j]
        piece_word.append(cake[0:factor_num:1])
        repeat_num = int( cake_len / piece_lengths[j])
        repeat_word = piece_word[j]
        for k in range(repeat_num):
            test_cake = repeat_word + test_cake
        test_list.append(test_cake)
        test_cake = ''
    
    #3
    for j in range(len(piece_lengths)):
        if test_list[j] == cake:
            print('For the cake', cake, ',I can cut the cake into', int(cake_len /piece_lengths[j]), 'piece(s), and the length of the piece is', piece_lengths[j],'.')
            break

For the cake abccbaabccba ,I can cut the cake into 2 piece(s), and the length of the piece is 6 .
For the cake abcabcabcabc ,I can cut the cake into 4 piece(s), and the length of the piece is 3 .
For the cake abcdabcdabcdabcd ,I can cut the cake into 4 piece(s), and the length of the piece is 4 .

### backup
```
#data base
test_1 = 'abccbaabccba'
test_2 = 'abcabcabcabc'
test_3 = 'abcdabcdabcdabcd'

#1 save the each string 
cake = test_3
cake_len = len(cake)
piece_lengths = []
a = 0

for i in range(1,cake_len+1):
    if (cake_len % i) == 0:
            piece_lengths.append(i)
    else:
            a = a 
                
#2
piece_word = []
test_cake = ''
test_list = []

for i in range(len(piece_lengths)):
    factor_num = piece_lengths[i]
    piece_word.append(cake[0:factor_num:1])
    
for i in range(len(piece_lengths)):
    repeat_num = int( cake_len / piece_lengths[i])
    repeat_word = piece_word[i]
    for j in range(repeat_num):
        test_cake = repeat_word + test_cake
    test_list.append(test_cake)
    test_cake = ''

#3
for i in range(len(piece_lengths)):
    if test_list[i] == cake:
        print('For the cake', cake, ',I can cut the cake into', int(cake_len /piece_lengths[i]), 'piece(s), and the length of the piece is', piece_lengths[i],'.')
        break
 ```